<h3>Tournament</h3>
<br> 
<Table style="width: 75%;">
    <thead>
        <tr>
            <th style="width: 1%;"></th>
            <th style="width: 3%;text-align: right;">|senin = ZA vs Jenus|</th>
            <th style="width: 3%;text-align: right;">|selasa = Btr vs Garuda|</th>
            <th style="width: 5%;text-align: right;">|jumat = Macan  vs Kelinci|</th>
            <th style="width: 4%;text-align: right;">|sabtu = Sea vs Red|</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</Table>